qtile/__pycache__
.vim/.netrwhist
dwm/*.o
dwm/dwm
dwm/*.diff
st/*.o
st/st
st/*.diff
st-instantos/*.o
st-instantos/st
st-instantos/*.diff
dmenu/*.o
dmenu/dmenu
dmenu/stest
.doom.d/custom.el
.vim/plugged/
nvim/plugin
