/* Xft.dpi:                        109 */
URxvt*font:                     xft:monospace:pixelsize=12
URxvt*termName:                 rxvt-256color
dxvt.depth:                     0
URxvt*lineSpace:                1
URxvt.letterSpace:              -1
URxvt.iso14755:                 false
URxvt.iso14755_52:              false
URxvt*geometry:                 65x17
URxvt.scrollBar:                false
URxvt*saveLines:		        65535
URxvt*loginShell:               true
URxvt.perl-ext-common:          default,clipboard,bell-command
URxvt.keysym.Shift-Control-C:   perl:clipboard:copy
URxvt.keysym.Shift-Control-V:   perl:clipboard:paste
URxvt.clipboard.autocopy:       true


! gruber colour scheme
*background: #181818
*foreground: #e4e4ef
*color0:     #2E3436
*color1:     #a40000
*color2:     #4E9A06
*color3:     #C4A000
*color4:     #3465A4
*color5:     #75507B
*color6:     #ce5c00
*color7:     #babdb9
*color8:     #555753
*color9:     #EF2929
*color10:    #8AE234
*color11:    #FCE94F
*color12:    #729FCF
*color13:    #AD7FA8
*color14:    #fcaf3e
*color15:    #EEEEEC

