! Sets font
URxvt*font: xft:Iosevka:size=10:antialias=true
URxvt*boldFont: xft:Iosevka:bold:size=10:antialias=true

! Removes stupid scrollbar
URxvt.scrollBar: false

! Restore 'normal' copy & paste funcitonality
! (Ctrl + Shift + C) - Copy
! (Ctrl + Shift + V) - Paste
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

! Disables other stupid (Ctrl + Shift) iso shit that is so dumb I can"'"t even comprehend
URxvt.iso14755: false
URxvt.iso14755_52: false

urxvt*background: #000000
urxvt*foreground: #e5e5e5

! Perl Stuff
URxvt.perl-ext-common: default,matcher,resize-font

! Url Configuration
URxvt.url-launcher: firefox
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold fg6

! End of Perl Stuff
